@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient{
    /* background: #C9D6FF;  */
    /* background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);   */
    background: linear-gradient(to bottom, #E6EAF8, #ffffff); 

}



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    -webkit-scrollbar-width: none;  /* Firefox */
    scrollbar-width: none;
  }


.masonry { 
    column-count: 2; 
    column-gap: 2rem;
}

.masonry-item { 
    break-inside: avoid;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .masonry {
      column-count: 1;
  }
}





/* --------------------- machine coding cards-------------------------------- */
/* From Uiverse.io by eslam-hany */ 
.card {
  position: relative;
  /* width: 1/3;
  height: 320px; */
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover:after {
  content: "Open";
}
.marquee-container {
  position: relative;
  height: 160px; /* Adjust based on card height */
  overflow: hidden; /* Hide overflow to create a clean marquee effect */
}

.marquee {
  display: flex;
  animation: scroll 40s linear infinite; /* Adjust duration to decrease speed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Start off-screen right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen left */
  }
}

.testimonial-card {
max-width: 500px;
max-height: 400px;
  flex-shrink: 0; 
  margin-right: 20px; /* Spacing between cards */
  display: flex; /* Use flexbox for centering content */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
  padding: 16px; /* Add padding for spacing within the card */
  box-sizing: border-box; /* Ensure padding doesn't affect overall height */
  overflow: visible; /* Ensure content is visible */
}
